.container {
  margin-top: 96px;
  display: grid;
  grid-template-columns: 54% 46%;
  height: 868px;
  margin-bottom: 146px;

  .img {
    img {
      width: 100%;
    }
  }

  .wrapper {
    background: rgba(247, 247, 247, 0.4);
    padding-left: 49px;

    h2 {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 700;
      font-size: 92px;
      line-height: 92px;
      color: #000;
      letter-spacing: -3px;
      max-width: 375px;
      margin-top: 235px;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 137%;
      color: #000;
      margin: 32px 0;
      max-width: 441px;
    }

    button {
      width: 249px;
      height: 50px;
      background-color: #000;
      border: 0;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}